SUPABASE_URL=https://fsideooczwhfwgwxhhbb.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_l8qc20_7KtIk5RxIdIsLqw_X4k-FOZ5
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=https://fsideooczwhfwgwxhhbb.supabase.co/auth/v1/.well-known/jwks.json
